<!DOCTYPE html>
<html lang="en" ng-app="generApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fantasy Name Generator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <!-- Navbar Section -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h2 class="navbar-brand">Fantasy Generator</h2>
      <ul class="navbar-nav">
        <li class="nav-item"><a href="./index.html" class="nav-link">Name Generator</a></li>
        <li class="nav-item"><a href="./ability.html" class="nav-link">Ability Generator</a></li>
        <li class="nav-item"><a href="./personality.html" class="nav-link">Personality Generator</a></li>
        <li class="nav-item"><a href="./racenclass.html" class="nav-link">Race and Class Generator</a></li>
      </ul>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container mt-5" ng-controller="generateController as G">
    <div id="Name_Generator" class="col-md-12" ng-show="nameG">
      <h1>Welcome to the Fantasy Name Generator!</h1>
      <h2>To get started, let's choose a name. Click the button to generate a random name.</h2>

      <div class="radio-group">
        <label>
          <input type="radio" name="gender" value="male" ng-model="selectedGender"> Male
        </label>
        <label>
          <input type="radio" name="gender" value="female" ng-model="selectedGender"> Female
        </label>
        <label>
          <input type="radio" name="gender" value="random" ng-model="selectedGender"> Random
        </label>
      </div>
    </div>
    <div class="col-md-12 mt-4">
      <button id="generateButton" class="btn btn-primary" ng-click="generateName()">Generate!</button>
      <p id="ReplaceableText">{{ generatedName || 'Click the button to generate a name!' }}</p>
      <button class="btn btn-danger mt-3" ng-click="next('name')" ng-show="generatedName">Next</button>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="client.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
